<app-nav></app-nav>
<section>
  <p class="txt">Posts: {{ posts.length }}</p>
  <form action="">
    <app-input [hideLabel]="hideLabel" [type]="type" [placeholder]="placeHolder"></app-input>
    <app-button>
      <fa-icon [icon]="iconSearch"></fa-icon>
    </app-button>
  </form>
  <p class="txt">{{ date | date }}</p>
</section>
<div *ngIf="ngAfterViewInit">
  <app-post [post]="post" *ngFor="let post of posts"></app-post>
</div>
<div *ngIf="ngAfterViewInit">
  <p>No se encontraron resultados</p>
</div>
