<app-nav></app-nav>
<section class="div-container">

  <div class="create-container">
    <section class="section">
      <main class="main">
        <div>
          <p>{{ postT }}</p>
        </div>
        <form #formP class="form-group" (submit)="onFormSubmit()" [formGroup]="form">
          <app-input label="Title" type="text" placeholder="Title" formControlName="title"></app-input>
          <app-input label="Content" type="text" placeholder="Content" formControlName="content"></app-input>
          <app-input label="IdAuthor" type="number" placeholder="IdAuthor" formControlName="idAuthor"></app-input>
          <app-button buttonType="submit">Send</app-button>
        </form>
      </main>
    </section>
  </div>

  <div class="create-container">
    <section class="section">
      <main class="main">
        <div>
          <p>{{ authorT }}</p>
        </div>
        <form >
          <app-input label="Name" type="text" placeholder="Name"></app-input>
          <app-button buttonType="submit">Send</app-button>
        </form>
      </main>
    </section>
  </div>

</section>
